In [2]:
import pandas as pd
import numpy as np
import re
import nltk

In [ ]:
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [3]:
df= pd.read_csv('New_dataset.csv.zip')
df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [5]:
df['date'].value_counts()

May 10, 2017         46
May 26, 2016         44
May 6, 2016          44
May 5, 2016          44
May 11, 2016         43
                     ..
December 9, 2017      1
December 4, 2017      1
November 19, 2017     1
November 20, 2017     1
Jul 19, 2015          1
Name: date, Length: 1681, dtype: int64

In [6]:
df.shape

(23481, 4)

In [7]:
df.isna().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [8]:
df.shape

(23481, 4)

In [9]:
df = df.dropna()

In [10]:
df.isna().sum()

title      0
text       0
subject    0
date       0
dtype: int64

In [11]:
df.shape

(23481, 4)

In [12]:
df.reset_index(inplace=True)
df.head()

,index,title,text,subject,date
0,0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [13]:
df['title'][0]

' Donald Trump Sends Out Embarrassing New Year’s Eve Message; This is Disturbing'

In [14]:
df = df.drop(['title','text','subject'],axis = 1)
df.head()

   index               date
0      0  December 31, 2017
1      1  December 31, 2017
2      2  December 30, 2017
3      3  December 29, 2017
4      4  December 25, 2017

In [16]:
sample_data = 'the quick brown fox jumps over the lazy'
sample_data = sample_data.split()
sample_data

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy']

In [17]:
#nltk.download('stopwords')

In [17]:
sample_data = [data.lower() for data in sample_data]
sample_data

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy']

In [1]:
#stopwords = stopwords.words('english')
#print(stopwords[0:10])
#print(len(stopwords))

In [3]:
#sample_data = [data for data in sample_data if data not in stopwords]
#print(sample_data)
#len(sample_data)

In [ ]:
# 4.Stemming

In [ ]:
#ps = PorterStemmer()
#sample_data_stemming = [ps.stem(data) for data in sample_data]
#print(sample_data_stemming)

In [ ]:
#5. Lemmatization

In [ ]:
#lm = WordNetLemmatizer()
#sample_data_lemma = [lm.lemmatize(data) for data in sample_data]
#print(sample_data_lemma)

In [2]:
#lm = WordNetLemmatizer()
#corpus = []
#for i in range (len(df)):
    #review = re.sub('^a-zA-Z0-9',' ', df['title'][i])
    #review = review.lower()
    #review = review.split()
    #review = [lm.lemmatize(x) for x in review if x not in stopwords]
    #review = " ".join(review)
    #corpus.append(review)

In [ ]:
#len(corpus)

In [ ]:
#df['title'][0]

In [ ]:
#corpus[0]

In [ ]:
#4. Vectorization (Convert Text data into the Vector)

In [ ]:
#tf = TfidfVectorizer()
#x = tf.fit_transform(corpus).toarray()
#x

In [ ]:
#y = df['label']
#y.head()

In [ ]:
#x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 10, stratify =

In [ ]:
#len(x_train),len(y_train)

In [ ]:
#len(x_test), len(y_test)

In [5]:
#5. Model Building

In [8]:
#rf = RandomForestClassifier()
#rf.fit(x_train, y_train)

In [ ]:
#6. Model Evaluation

In [ ]:
#y_pred = rf.predict(x_test)
#accuracy_score_ = accuracy_score(y_test,y_pred) 
#accuracy_score_

In [ ]:
class Evaluation:
    
    def __init__(self,model,x_train,x_test,y_train,y_test):
        self.model = model
        self.x_train = x_train
        self.x_test = x_test
        self.y_train = y_train
        self.y_test = y_test
        
    def train_evaluation(self):
        y_pred_train = self.model.predict(self.x_train)
        
        acc_scr_train = accuracy_score(self.y_train,y_pred_train)
        print("Accuracy Score On Training Data Set :",acc_scr_train)
        print()
        
        con_mat_train = confusion_matrix(self.y_train,y_pred_train)
        print("Confusion Matrix On Training Data Set :\n",con_mat_train)
        print()
        
        class_rep_train = classification_report(self.y_train,y_pred_train)
        print("Classification Report On Training Data Set :\n",class_rep_train)
        
            
    def test_evaluation(self):
        y_pred_test = self.model.predict(self.x_test)
        
        acc_scr_test = accuracy_score(self.y_test,y_pred_test)
        print("Accuracy Score On Testing Data Set :",acc_scr_train)
        print()
        
        con_mat_test = confusion_matrix(self.y_test,y_pred_test)
        print("Confusion Matrix On Testing Data Set :\n",con_mat_train)
        print()
        
        class_rep_test = classification_report(self.y_test,y_pred_test)
        print("Classification Report On Testing Data Set :\n",class_rep_train)

In [ ]:
#Checking the accuracy on training dataset

Evaluation(rf,x_train, x_test, y_train, y_test).train_evaluation()

In [ ]:
#Checking the accuracy on testing dataset
Evaluation(rf,x_train, x_test, y_train, y_test).test_evaluation()

In [ ]:
class Preprocessing:
    
    def __init__(self,data):
        self.data = data
        
    def text_preprocessing_user(self):
        lm = WordNetLemmatizer()
        pred_data = [self.data]    
        preprocess_data = []
        for data in pred_data:
            review = re.sub('^a-zA-Z0-9',' ', data)
            review = review.lower()
            review = review.split()
            review = [lm.lemmatize(x) for x in review if x not in stopwords]
            review = " ".join(review)
            preprocess_data.append(review)
        return preprocess_data

In [ ]:
df['title'][1]

In [ ]:
data = 'FLYNN: Hillary Clinton, Big Woman on Campus - Breitbart'
Preprocessing(data).text_preprocessing_user()

In [ ]:
class Prediction:
    
    def __init__(self,pred_data, model):
        self.pred_data = pred_data
        self.model = model
        
    def prediction_model(self):
        preprocess_data = Preprocessing(self.pred_data).text_preprocessing_user()
        data = tf.transform(preprocess_data)
        prediction = self.model.predict(data)
        
        if prediction [0] == 0 :
            return "The News Is Fake"
        
        else:
            return "The News Is Real"

In [ ]:
data = 'FLYNN: Hillary Clinton, Big Woman on Campus - Breitbart'
Prediction(data,rf).prediction_model()

In [ ]:
df['title'][3]

In [ ]:
user_data = '15 Civilians Killed In Single US Airstrike Have Been Identified' 
Prediction(user_data,rf).prediction_model()